.academic_list {
  padding-top: 20px;
  margin-left: 20px;
}

p {
  font-size: 25px;
  margin-left: 20px;
  padding-top: 15px;
}

table {

  border-collapse: collapse;
  width: 100%;
  line-height: 45px;
  color: #2C2C2C;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.list tr.one {
  background-color: #EEEEEA;
}
